<nav class="qt-nav">
 
   <a class="qt-nav-item" routerLink="/directorate" routerLinkActive="active"
    title="{{ 'Workflow::Dashboard' | abpLocalization }}">
    <!-- <i class="fa fa-border-all" aria-hidden="true"></i> -->
    <span class="text-bold">
     <strong> {{ 'Workflow::ConferenceServices' | abpLocalization }} </strong>
    </span>
  </a>

    <a class="qt-nav-item" routerLink="/conference/conference-requests" routerLinkActive="active"
      title="{{ 'Workflow::ConferenceRequests' | abpLocalization }}">
      <i class="fa fa-wpforms" aria-hidden="true"></i>
      <span>
        {{ 'Workflow::ConferenceRequests' | abpLocalization }}
      </span>
    </a>

  <a class="qt-nav-item" routerLink="/conference/calendar-of-events" routerLinkActive="active"
    title="{{ 'Workflow::CalendarofEvents' | abpLocalization }}">
    <i class="fas fa-calendar" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::CalendarofEvents' | abpLocalization }}
    </span>
  </a>

  
  <a class="qt-nav-item" routerLink="/conference/meeting-logistics-commission" routerLinkActive="active"
    title="{{ 'Workflow::MeetingLogisticsCommission' | abpLocalization }}">
    <i class="fas fa-boxes" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::MeetingLogisticsCommission' | abpLocalization }}
    </span>
  </a>


  <a class="qt-nav-item" routerLink="/conference/meeting-logistics-external" routerLinkActive="active"
    title="{{ 'Workflow::MeetingLogisticsExternal' | abpLocalization }}">
    <i class="fas fa-boxes" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::MeetingLogisticsExternal' | abpLocalization }}
    </span>
  </a>

    <a class="qt-nav-item" routerLink="/conference/meeting-logistics-virtual" routerLinkActive="active"
    title="{{ 'Workflow::MeetingLogisticsVirtual' | abpLocalization }}">
    <i class="fas fa-boxes" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::MeetingLogisticsVirtual' | abpLocalization }}
    </span>
  </a>

    <a class="qt-nav-item" routerLink="/conference/meeting-logistics-hybrid" routerLinkActive="active"
    title="{{ 'Workflow::MeetingLogisticsHybrid' | abpLocalization }}">
    <i class="fas fa-boxes" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::MeetingLogisticsHybrid' | abpLocalization }}
    </span>
  </a>

  
    <a class="qt-nav-item" routerLink="/conference/meeting-logistics-communication" routerLinkActive="active"
    title="{{ 'Workflow::MeetingLogisticsCommunication' | abpLocalization }}">
    <i class="fas fa-boxes" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::MeetingLogisticsCommunication' | abpLocalization }}
    </span>
  </a>

  
    <a class="qt-nav-item" routerLink="/conference/inspection-identification" routerLinkActive="active"
    title="{{ 'Workflow::InspectionIdentification' | abpLocalization }}">
    <i class="fas fa-user-check" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::InspectionIdentification' | abpLocalization }}
    </span>
  </a>

  
    <a class="qt-nav-item" routerLink="/conference/reproduction" routerLinkActive="active"
    title="{{ 'Workflow::Reproduction' | abpLocalization }}">
    <i class="fas fa-copy" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::Reproduction' | abpLocalization }}
    </span>
  </a>

  
    <a class="qt-nav-item" routerLink="/conference/post-event" routerLinkActive="active"
    title="{{ 'Workflow::PostEvent' | abpLocalization }}">
    <i class="fas fa-calendar-day" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::PostEvent' | abpLocalization }}
    </span>
  </a>

  

    <div class="qt-nav-section">Pipeline</div>
  <a class="qt-nav-item" routerLink="/conference/approved-requests" routerLinkActive="active"
    title="{{ 'Workflow::ApprovedRequests' | abpLocalization }}">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::ApprovedRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/conference/in-process-requests" routerLinkActive="active"
    title="{{ 'Workflow::InProcessRequests' | abpLocalization }}">
    <i class="fa fa-spinner" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::InProcessRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/conference/rejected-requests" routerLinkActive="active"
    title="{{ 'Workflow::RejectedRequests' | abpLocalization }}">
    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::RejectedRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/conference/sla" routerLinkActive="active"
    title="{{ 'Workflow::SLA' | abpLocalization }}">
    <i class="fa fa-balance-scale" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::SLA' | abpLocalization }}
    </span>
  </a>

  <div class="qt-nav-section">Team</div>
  <a class="qt-nav-item" href="javascript:void(0)">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <span>{{ 'Workflow::Settings' | abpLocalization }}</span>
  </a>
</nav>
