<nav class="qt-nav">
  <a class="qt-nav-item" routerLink="/resourcery/dashboard" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
    <i class="fa fa-th-large" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::Dashboard' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/resourcery/jobs" routerLinkActive="active">
    <i class="fa fa-briefcase" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::Directorate' | abpLocalization }}
    </span>
  </a>

  <a class="qt-nav-item" routerLink="/resourcery/exercises" routerLinkActive="active">
    <i class="fa fa-user" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::Translation' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/resourcery/exercises" routerLinkActive="active">
    <i class="fa fa-user" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::Interpretation' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/resourcery/exercises" routerLinkActive="active">
    <i class="fa fa-user" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::Conference' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/resourcery/exercises" routerLinkActive="active">
    <i class="fa fa-user" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::Protocol' | abpLocalization }}
    </span>
  </a>

  <div class="qt-nav-section">Pipeline</div>

  <a class="qt-nav-item" routerLink="/resourcery/reports" routerLinkActive="active">
    <i class="fa fa-line-chart" aria-hidden="true"></i>
    <span>{{ 'Workflow::Reports' | abpLocalization }}</span>
  </a>
  <div class="qt-nav-section">Team</div>
  <a class="qt-nav-item" href="javascript:void(0)">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <span>{{ 'Workflow::Settings' | abpLocalization }}</span>
  </a>
</nav>
