<div class="home-bg">

    <div class="home-container">
        <div class="row home-row container pt-5">
            <div>
                <div>
                    <div class="text-center mb-5 mt-3 px-3">
                        <h1 class="home-header-title mb-3">
                            {{ 'Workflow::WelcomeToResourcery' | abpLocalization }}
                        </h1>
                        <span class="text-sm home-subtitle-text"> {{ 'Workflow::ArtificialIntelligence' | abpLocalization }} &middot; {{ 'Workflow::IntegratedWorkflows' | abpLocalization }} &middot; {{ 'Workflow::ProcessAutomation' | abpLocalization }} &middot; {{ 'Workflow::DigitalPlatforms' | abpLocalization }}</span>
                    </div>
                    <!-- Cards Section -->
                    <div class="row g-4 justify-content-center mt-5 mb-5">
                        <div class="col-lg-4 col-md-5">
                            <a href="/request" (click)="navigateToDashboard()" class="text-decoration-none">
                                <div class="card h-100 shadow-sm home-card">
                                    <div class="card-body p-4">
                                        <h4 class="card-title mb-3 fw-bold">{{ 'Workflow::ServiceRequests' | abpLocalization }}</h4>
                                        <p class="card-text text-muted mb-4">{{ 'Workflow::ServicesDescription' | abpLocalization }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <a href="javascript:void(0)" class="text-decoration-none">
                                <div class="card h-100 shadow-sm home-card">
                                    <div class="card-body p-4">
                                        <h4 class="card-title mb-3 fw-bold">{{ 'Workflow::Operations' | abpLocalization }}</h4>
                                        <p class="card-text text-muted mb-4">{{ 'Workflow::OperationsDescription' | abpLocalization }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-footer">
        <div class="container">

            <a href="#" class="text-bold text-decoration-none fs-6 fw-normal text-primary-emphasis">
                &copy;2026 Directrorate of Conference and Protocol, ECOWAS Commission.
            </a>
            <a href="" class="text-bold text-decoration-none fs-6 fw-normal text-primary-emphasis"
                (click)="changeLanguage('en', $event)">EN</a>
            <a href="" class="text-bold text-decoration-none fs-6 fw-normal text-primary-emphasis"
                (click)="changeLanguage('fr', $event)">FR</a>
            <a href="" class="text-bold text-decoration-none fs-6 fw-normal text-primary-emphasis"
                (click)="changeLanguage('pt-BR', $event)">PT</a>

        </div>
    </div>
</div>