<nav class="qt-nav">

  <a class="qt-nav-item" routerLink="/directorate" routerLinkActive="active"
    title="{{ 'Workflow::Dashboard' | abpLocalization }}">
    <!-- <i class="fa fa-border-all" aria-hidden="true"></i> -->
    <span class="text-bold">
      <strong> {{ 'Workflow::DirectorateServices' | abpLocalization }} </strong>
    </span>
  </a>
   <a class="qt-nav-item" routerLink="/directorate/directorate-requests" routerLinkActive="active"
    title="{{ 'Workflow::DirectorateRequests' | abpLocalization }}">
    <i class="fa fa-wpforms" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::DirectorateRequests' | abpLocalization }}
    </span>
  </a>


  <a class="qt-nav-item" routerLink="/directorate/internal-memoranda" routerLinkActive="active"
    title="{{ 'Workflow::InternalMemoranda' | abpLocalization }}">
    <i class="fa fa-archive" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::InternalMemoranda' | abpLocalization }}
    </span>
  </a>

  <a class="qt-nav-item" routerLink="/directorate/incoming-correspondence" routerLinkActive="active"
    title="{{ 'Workflow::IncomingCorrespondence' | abpLocalization }}">
    <i class="fa fa-file" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::IncomingCorrespondence' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/directorate/note-verbales" routerLinkActive="active"
    title="{{ 'Workflow::NoteVerbales' | abpLocalization }}">
    <i class="fa fa-file-alt" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::NoteVerbales' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/directorate/meeting-supervision" routerLinkActive="active"
    title="{{ 'Workflow::MeetingSupervision' | abpLocalization }}">
    <i class="fas fa-people-arrows" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::MeetingSupervision' | abpLocalization }}
    </span>
  </a> <a class="qt-nav-item" routerLink="/directorate/meeting-preparation" routerLinkActive="active"
    title="{{ 'Workflow::MeetingPreparation' | abpLocalization }}">
    <i class="fa fa-people-carry" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::MeetingPreparation' | abpLocalization }}
    </span>
  </a> <a class="qt-nav-item" routerLink="/directorate/contribution-reports" routerLinkActive="active"
    title="{{ 'Workflow::ContributionReports' | abpLocalization }}">
    <i class="fa fa-newspaper" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::ContributionReports' | abpLocalization }}
    </span>
  </a> <a class="qt-nav-item" routerLink="/directorate/concept-notes" routerLinkActive="active"
    title="{{ 'Workflow::ConceptNotes' | abpLocalization }}">
    <i class="fa fa-sticky-note" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::ConceptNotes' | abpLocalization }}
    </span>
  </a> <a class="qt-nav-item" routerLink="/directorate/internal-meetings" routerLinkActive="active"
    title="{{ 'Workflow::InternalMeetings' | abpLocalization }}">
    <i class="fa fa-users" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::InternalMeetings' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/directorate/documentation" routerLinkActive="active"
    title="{{ 'Workflow::Documentation' | abpLocalization }}">
    <i class="fa fa-folder" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::Documentation' | abpLocalization }}
    </span>
  </a>

 

  <div class="qt-nav-section">Pipeline</div>
  <a class="qt-nav-item" routerLink="/directorate/approved-requests" routerLinkActive="active"
    title="{{ 'Workflow::ApprovedRequests' | abpLocalization }}">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::ApprovedRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/directorate/in-process-requests" routerLinkActive="active"
    title="{{ 'Workflow::InProcessRequests' | abpLocalization }}">
    <i class="fa fa-spinner" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::InProcessRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/directorate/rejected-requests" routerLinkActive="active"
    title="{{ 'Workflow::RejectedRequests' | abpLocalization }}">
    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::RejectedRequests' | abpLocalization }}
    </span>
  </a>
  <a class="qt-nav-item" routerLink="/directorate/sla" routerLinkActive="active"
    title="{{ 'Workflow::SLA' | abpLocalization }}">
    <i class="fa fa-balance-scale" aria-hidden="true"></i>
    <span>
      {{ 'Workflow::SLA' | abpLocalization }}
    </span>
  </a>
  <div class="qt-nav-section">Team</div>
  <a class="qt-nav-item" href="javascript:void(0)">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <span>{{ 'Workflow::Settings' | abpLocalization }}</span>
  </a>
</nav>