.qt-logo-link {
	display: inline-flex;
	align-items: center;
	font-weight: 700;
	font-size: 25px;
	color: inherit;
	text-decoration: none;
	line-height: 1;
}

.qt-logo-image {
	height: 35px;
	width: auto;
	margin: 0;
	padding: 0;
	display: block;
}

.qt-logo-text {
	display: inline-flex;
	align-items: center;
	line-height: 1;
}
