@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import '../shared/styles/layout-shell';

:host {
	display: block;
	font-family: 'Inter', sans-serif;
	color: #dfe7ff;
}

