<section class="qt-main">
  <header class="qt-topbar">
    <div class="qt-page">
      <button
        type="button"
        class="qt-collapse-btn btn btn-outline-light btn-sm"
        (click)="onToggleSidebar()"
        [attr.aria-expanded]="!collapsed"
        aria-label="Toggle sidebar"
      >
        <i
          class="fa"
          aria-hidden="true"
          [class.fa-angle-left]="!collapsed"
          [class.fa-angle-right]="collapsed"
        ></i>
      </button>
      <div class="qt-page-text">
        <div class="qt-page-title">{{ ('Resourcery::' + pageTitle) | abpLocalization }}</div>
        <!-- <div class="qt-page-subtitle">{{ pageSubtitle }}</div> -->
      </div>
    </div>
    
  </header>

  <router-outlet></router-outlet>
</section>
