<div class="qt-dashboard rounded-0" [class.is-collapsed]="isSidebarCollapsed">
  <app-resourcery-sidebar [collapsed]="isSidebarCollapsed">
    <app-translation-sidebar-menu></app-translation-sidebar-menu>
  </app-resourcery-sidebar>
  <app-resourcery-page [collapsed]="isSidebarCollapsed" (toggleSidebar)="toggleSidebar()">
    <div page-actions>
      <button type="button" class="btn btn-outline-light btn-sm">Export</button>
      <button type="button" class="btn btn-light btn-sm">New Translation</button>
    </div>
  </app-resourcery-page>
</div>
